{% extends "admin/base_site.html" %}

{% block title %}
    Замвлення {{ order.id }} {{ block.super }}
{% endblock title %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Головна</a>
        <a href="{% url 'admin:orders_order_changelist' %}">Замовлення</a>
        &rsaquo;
        <a href="{% url 'admin:orders_order_change' order.id %}">Замовлення {{ order.id }}</a>
        &rsaquo; Деталі замовлення
    </div>
{% endblock %}

{% block content %}
<div class="module">
    <h1>Замовлення {{ order.id }}</h1>
    <ul class="object-tools">
        <li>
            <a href="#" onclick="window.print();">
                Print order
            </a>
        </li>
    </ul>
    <table>
        <tr>
            <th>Створено</th>
            <td>{{ order.created }}</td>
        </tr>
        <tr>
            <th>Замовник</th>
            <td>{{ order.first_name }} {{ order.last_name }}</td>
        </tr>
        <tr>
            <th>Адреса</th>
            <td>
                {{ order.address }}
                {{ order.postal_code }} {{ order.city }}
            </td>
        </tr>
        <tr>
            <th>Статус</th>
            <td>{% if order.paid %}Оплачено{% else %}Чекає оплату{% endif %}</td>
        </tr>
        <tr>
            <th>Wayforpay інформація</th>
            <td>
                {% if order.order_reference %}
                    <a href="https://secure.wayforpay.com/invoice/{{ order.order_reference }}" \
                        target="_blank">
                        Переглянути платіж
                    </a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
<div class="module">
    <h2>Товарів куплено</h2>
    <table style="width:100%">
        <thread>
            <tr>
                <th>Товар</th>
                <th>Ціна</th>
                <th>Кількість</th>
                <th>Сума</th>
            </tr>
        </thread>
        <tbody>
            {% for item in order.items.all %}
            <tr class="row{% cycle "1" "2" %}">
                <td>{{ item.product.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.get_cost }}</td>
            </tr>
            {% endfor %}
            <tr class="total">
                <td colspan="3">Всього</td>
                <td>{{ order.get_total_cost }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
