{% extends "shop/base.html" %}
{% load static %}

{% block title %}Оплата вашого замовлення{% endblock %}

{% block content %}
    <h1>Ваше замовлення</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Вигляд</th>
                <th>Товар</th>
                <th>Ціна</th>
                <th>Кількість</th>
                <th>Сума</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order.items.all %}
                <tr class="row{% cycle "1" "2"%}">
                    <td>
                        <img src="{% if item.product.image %}{{ item.product.image.url }}
                        {% else %}{% static "img/no_image.png" %}{% endif %}">
                    </td>
                    <td>{{ item.product.name }}</td>
                    <td class="num">{{ item.price }} грн</td>
                    <td class="num">{{ item.quantity }}</td>
                    <td class="num">{{ item.total_price }} грн</td>
                </tr>
            {% endfor %}
            {% if order.coupon %}
                <tr class="subtotal">
                    <td>Стара ціна</td>
                    <td colspan="3"></td>
                    <td class="num">
                        {{ order.get_total_cost_before_discount|floatformat:2 }} грн
                    </td>
                </tr>
                <tr>
                    <td>
                        "{{ order.coupon.code }}" купон
                        (Знижка {{ order.discount }}%)
                    </td>
                <td colspan="3"></td>
                <td class="num neg">
                    - {{ order.get_discount|floatformat:2 }} грн
                </td>
            </tr>
            {% endif %}
            <tr class="total">
                <td>Всього</td>
                <td colspan="3"></td>
                <td class="num">
                    {{ order.get_total_cost|floatformat:2 }} грн
                </td>
            </tr>
        </tbody>
    </table>
    <form action="{% url 'payment:process' %}" method="post">
        <input type="submit" value="Оплатити" class="btn btn-success">
        {% csrf_token %}
    </form>
{% endblock %}
