{% block content %}
    {% include "account/base_manage.html" %}
    <h1>{{ user.username }}'s Profile</h1>
    <p>First name: {{ user.profile.first_name }}</p>
    <p>Last name: {{ user.profile.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Address: {{ user.profile.address }}</p>
    <p>City: {{ user.profile.city }}</p>

    <h2>Orders</h2>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li>
                    Order #{{ order.id }} - {{ order.created }} - {{ order.paid|yesno:"Paid,Not Paid" }}
                    <ul>
                        <li>First name: {{ order.first_name }}</li>
                        <li>Last name: {{ order.last_name }}</li>
                        <li>Email: {{ order.email }}</li>
                        <li>Address: {{ order.address }}</li>
                        <li>Postal code: {{ order.postal_code }}</li>
                        <li>City: {{ order.city }}</li>
                        <li>Price: {{ order.get_total_cost|floatformat:2 }} грн</li>
                        <li>Discount: {{ order.discount }}%</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No orders found.</p>
    {% endif %}
{% endblock %}
